*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    min-height: 100vh;
    background-color: #fff;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: #e0e4cc;
    transition: 0.4s;
}

.nav-link {
    font-size: 10px;
}

/* .nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #fff;
} */

.my-container{
    transition: 0.4s;
}

.active-nav{
    margin-left: 0;
}

.active-cont{
    margin-left: 250px;
}

/* #menu-btn{
    background-color: #69d2e7;
    color: #fff;
} */

#menu-btn:focus{
    box-shadow: 0 0 0 0.25rem #fff;
}